body { font-family: 'Roboto', sans-serif;;
}
.alert-container{}

.callout-container{height:100vh;
 background: url("../images/background.jpg") no-repeat bottom right fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display:flex;
  align-items:center;
  justify-content:center;
  position:relative;
   animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards; }
  
    

  .price{font-syle:italic;
                  color:white;}

  .block-divider{width:75px;
                 height:5px;
                 border:0;
                 background-color:grey:}                          

 .jumbotron{background-color: transparent; }                           

.quotes-container{}

.features-container{}

.jumbotron-header{color:white;
                  font-weight: bold;
                  margin-bottom:30px;
                  font-size:150%;
                  }

.jumbotron small{font-size:100%;
                  font-syle:italic;
                  color:white;  } 

.jumbotron .lead{margin:50px 0;
                 color:rgb(218, 105, 71);
                 }    


 .opaque-overlay {position:absolute;
                   top:0;
                   left:0;
                   height:100%;
                   width:100%;
                   background-color: rgba(0,0,0,0.0.6);
 }  

.footer{
    height: 2px;
}
.social-networks {
    text-align: center;
     display:inline;
     color:rgb(184, 230, 248);
}

.btn-cta{font-weight:bold;
         border-radius:20px;
         width:160px;}

.page-header{margin-bottom:0;
             border-bottom:0;
             text-align:center;
             }
.page-header h2 {margin-top;0;

                 
}    

.content-container{ padding-top:75px;
                   padding-bottom:75px;
                   }



.block-divider{width:75px;
               height:5px;
               border:0;
               background-color:#444;}

.block-divider--short{width:35px;
            }               
.block-divider--orange{background-color: rgb(184, 230, 248);}     


.container-wrapper{}

.container-wrapper--blue{background-color:rgb(184, 230, 248);
color:white;
 }

 .contact{background-color:rgb(9, 101, 138);
           color:white;
           padding-top: 10px;}