@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');


body {font-family: 'Montserrat', sans-serif;             
}

/*Navbar*/

.navbar{margin-bottom: 0;
        width: 100%;
        border: 0;
        background-color: #444;
}
.navbar i{
   
}
.navbar .navbar-toggler{ background-color: #5fb3f9;                       
}

.navbar .navbar-brand {font-weight: bold;
                     color: #5fb3f9;
                     display: inline-block;
                     vertical-align: middle;
                     transform: translateZ(0);
                     backface-visibility: hidden;
                     -moz-osx-font-smoothing: grayscale;
                     transition-duration: 0.3s;
                     transition-property: transform;                    
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus,
.navbar .navbar-brand:active {transform: scale(1.1);
}

.navbar .navbar-nav a{font-weight:bold;
                      text-align: center;
                      font-size: 110%;                                          
}

.navbar a{color:#5fb3f9;      
}

.navbar .navbar-nav a:hover{transform: rotateX(360deg);
                            transition: 2s;                          
}

.dropdown:hover > .dropdown-menu {display: block; 
                                  
}

.dropdown > .dropdown-toggle:active {pointer-events: none;                                  
}

.navbar .navbar-text{font-size: 80%;
                     font-weight: bold;
                     color: #93c167;
}

.navbar-nav .dropdown-menu { background-color:#E8F9FF;
}
 

/*end/Navbar*/

/*Heading*/

/*Heading*/
.heading-container{ height: 100vh;
                    color:#E8F9FF;
                     background: url('../images/heading.jpg') no-repeat bottom right fixed;
                     -webkit-background-size: cover;
                     -o-background-size: cover;
                     background-size: cover;
                     display:flex;
                     align-items:center;
                     justify-content:center;
                     position:relative; 
                     margin: 0;
                     padding:0;                 
}

.heading .heading-text{ word-spacing: 10px;
                        text-shadow: 3px 3px #444; 
  }
/*endHeading*/

/*Intro*/
.intro .intro-text{ margin-left: 500px;
}
#circle-cover-bg{
    background: url("http://codeinstitute.s3.amazonaws.com/FundamentalsProjects/HTML-CSS/video-mask.png") no-repeat center center;
    height:100%;
    border-radius: 50%;}
/*endIntro*/



/*Explore*/
.explore-container{background-color: #444;
                   margin-bottom: 0;
                   width: 100%;
                   border: 0;
                
}
.explore {
    text-align: center;
    margin-bottom: 40px;
    }


.explore i {
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
}

.explore .btn {
    background-color: white;
    border-color: white;
    border-radius: 15px;
    min-width: 100px;
    font-weight: bold;
    margin-top: 10px;
    color: #f05f40;
}




/*endExplore*/



.alert-container{}

.heading-container{height:100vh;
                   background: url('../images/heading.jpg') no-repeat bottom right fixed;
                   background-size: cover;
                   display:flex;
                   align-items:center;
                   justify-content:center;
                 position:relative;
   }
  
    

  .price{font-syle:italic;
                  color:white;}

  .block-divider{width:75px;
                 height:5px;
                 border:0;
                 background-color:grey:}                          

 .jumbotron{background-color: transparent; }                           

.quotes-container{}

.features-container{}

.jumbotron-header{color:white;
                  font-weight: bold;
                  margin-bottom:30px;
                  font-size:150%;
                  }

.jumbotron small{font-size:100%;
                  font-syle:italic;
                  color:white;  } 

.jumbotron .lead{margin:50px 0;
                 color:rgb(218, 105, 71);
                 }    


 .opaque-overlay {position:absolute;
                   top:0;
                   left:0;
                   height:100%;
                   width:100%;
                   background-color: rgba(0,0,0,0.0.6);
 }  

.footer{
    height: 2px;
}
.social-networks {
 text-align: center;
  color:rgb(184, 230, 248);
  list-style: none;
}

.btn-cta{font-weight:bold;
         border-radius:20px;
         width:160px;}

.page-header{margin-bottom:0;
             border-bottom:0;
             text-align:center;
             }
.page-header h2 {margin-top;0;

                 
}    

.content-container{ padding-top:75px;
                   padding-bottom:75px;
                   }



.block-divider{width:75px;
               height:5px;
               border:0;
               background-color:#444;}

.block-divider--short{width:35px;
            }               
.block-divider--orange{background-color: rgb(184, 230, 248);}     


.container-wrapper{}

.container-wrapper--blue{background-color:rgb(184, 230, 248);
color:white;
 }

 .contact{background-color:rgb(12, 62, 82);
           color:white;
           padding-top: 10px;
           padding-bottom: 5px;
           padding: 10px;
           border:5px solid;
            text-align: center;}

.island{color:rgb(23, 120, 165);}

.blockquote{ color: rgb(23, 120, 165);
             font-size: 75%; }     

.feature{padding-top: 5px;
           padding-bottom: 5px;
           
           border:5px solid;}                 

.bikes{  text-align: center;}           

/*end/Navbar*/



.alert-container{}

.callout-container{height:100vh;
 
background: url('../images/heading.jpg') no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display:flex;
  align-items:center;
  justify-content:center;
  position:relative;
   }
  
    

  .price{font-syle:italic;
                  color:white;}

  .block-divider{width:75px;
                 height:5px;
                 border:0;
                 background-color:grey:}                          

 .jumbotron{background-color: transparent; }                           

.quotes-container{}

.features-container{}

.jumbotron-header{color:white;
                  font-weight: bold;
                  margin-bottom:30px;
                  font-size:150%;
                  }

.jumbotron small{font-size:100%;
                  font-syle:italic;
                  color:white;  } 

.jumbotron .lead{margin:50px 0;
                 color:rgb(218, 105, 71);
                 }    


 .opaque-overlay {position:absolute;
                   top:0;
                   left:0;
                   height:100%;
                   width:100%;
                   background-color: rgba(0,0,0,0.0.6);
 }  

.footer{
    height: 2px;
}
.social-networks {
 text-align: center;
  color:rgb(184, 230, 248);
  list-style: none;
}

.btn-cta{font-weight:bold;
         border-radius:20px;
         width:160px;}

.page-header{margin-bottom:0;
             border-bottom:0;
             text-align:center;
             }
.page-header h2 {margin-top;0;

                 
}    

.content-container{ padding-top:75px;
                   padding-bottom:75px;
                   }



.block-divider{width:75px;
               height:5px;
               border:0;
               background-color:#444;}

.block-divider--short{width:35px;
            }               
.block-divider--orange{background-color: rgb(184, 230, 248);}     


.container-wrapper{}

.container-wrapper--blue{background-color:rgb(184, 230, 248);
color:white;
 }

 .contact{background-color:rgb(12, 62, 82);
           color:white;
           padding-top: 10px;
           padding-bottom: 5px;
           padding: 10px;
           border:5px solid;
            text-align: center;}

.island{color:rgb(23, 120, 165);}

.blockquote{ color: rgb(23, 120, 165);
             font-size: 75%; }     

.feature{padding-top: 5px;
           padding-bottom: 5px;
           
           border:5px solid;}                 

.bikes{  text-align: center;}           