@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');


body {font-family: 'Montserrat', sans-serif;             
}

.block-divider{
               height:1px;
               background-color:#5fb3f9;
}
/*Navbar*/

.navbar{
               
        margin-bottom: 2px;
       
        width: 100%;
        border: 0;
        background-color: #444;
}
.navbar i{
   
}
.navbar .navbar-toggler{ background-color: #5fb3f9;
                                            
}

.navbar .navbar-brand {font-weight: bold;
                     color: #5fb3f9;
                     display: inline-block;
                     vertical-align: middle;
                     transform: translateZ(0);
                     backface-visibility: hidden;
                
                     transition-duration: 0.3s;
                     transition-property: transform;                    
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus,
.navbar .navbar-brand:active {transform: scale(1.1);
}

.navbar .navbar-nav a{font-weight:bold;
                      text-align: center;
                      font-size: 110%;                                          
}

.navbar a{color:#5fb3f9;      
}

.navbar .navbar-nav a:hover{transform: rotateX(360deg);
                            transition: 2s;                        
}

.dropdown:hover > .dropdown-menu {display: block; 
                                  
}

.dropdown > .dropdown-toggle:active {pointer-events: none;                                  
}

.navbar .navbar-text{font-size: 80%;
                     font-weight: bold;
                     color: #93c167;
}

.navbar-nav .dropdown-menu { background-color:#E8F9FF;
}

 

/*end/Navbar*/



/*Heading*/
.heading-container{ height: 100vh;
                    color:bisque;
                     background: url('../images/heading.jpg') no-repeat bottom right fixed;
                     -webkit-background-size: cover;
                     -o-background-size: cover;
                     background-size: cover;
                     display:flex;
                     align-items:center;
                     justify-content:center;
                     position:relative; 
                     background-color:#E8F9FF;
  
    animation-name: heading-background;
    animation-duration: 4s;
    animation-fill-mode: forwards;
                                    
}
@keyframes heading-background {
    from{
        transform: scale(0.9);
    }
    to{
        transform: scale(1);
    }
}
.heading .heading-text{word-spacing: 10px;
                      text-shadow: 3px 3px #444; 
}
/*endHeading*/



/*Intro*/

.intro-container{margin-top: 2px;
                margin-bottom: 2px;
                background-color:#444;
                color:bisque;
}


.intro-container .intro-main{font-weight: bold;
                            padding:15px;
                            margin-bottom: 15px;
                            color:#5fb3f9;

}

.intro-container .intro-image{
                     border-style: solid;
                    border-color: #5fb3f9;
                     border-width: 5px;

  }

 .intro-container .intro-cres{font-weight: bold;
                              color:#5fb3f9;
                     
}           

.intro-container .left-intro{text-align:center;
                             margin-bottom: 20px;  
}


.intro-container .right-intro{text-align:center;
                              margin-bottom: 20px;
}

.intro-container .intro-text{padding:15px;
}    

/*endIntro*/




/*Packages*/
.packages-container{margin-top: 2px;
                    margin-bottom: 2px;
                    background-color:#444;
                    color:bisque;  
                            
}

.packages-container .packages-main{font-weight: bold;
                                  padding:15px;
                                  margin-bottom: 15px;
                                  color:#5fb3f9;
                                                           
}

.packages-container img{border-style: solid;
                    border-color: #5fb3f9;
                     border-width: 5px;
  }




/*---end Packages------*/

/*---Buttons--*/
.btn--book{ font-size:15px;
            font-weight:bold;
            border-radius:10px;
            width:120px;
            background-color:#5fb3f9;
}
.btn--book:hover,
.btn--book:active,
.btn--book:focus,
.btn--book:active:focus{background-color:#93c167;
}


/*---endButtons--*/


/*Quotes*/
.quotes-container{margin-top: 2px;
                    margin-bottom: 2px;
                    background-color:#444;
                    color:bisque;  
}

.quotes-container .quotes-main{font-weight: bold;
                                  padding:15px;
                                  margin-bottom: 15px;
                                  color:#5fb3f9;
                                                           
}

 .quotes-container img {border-style: solid;
                    border-color: #5fb3f9;
                     border-width: 5px;
 }

 .quotes-container p {font-size:15px;}                     
/*--endQuotes*/